# Entornos y configuración local
.env
.env.local
.expo
.expo-shared
.vscode

# Dependencias
node_modules/
package-lock.json.lock

# Salidas de build (si aplican)
dist/
build/
web-build/

# Archivos del sistema
.DS_Store       # macOS
Thumbs.db       # Windows

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro / React Native / Expo
.expo/
.expo-shared/
*.expo
*.log

# Git
.git/

# Cache de bundlers
.cache/
